﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<a href="javascript:void(0)"><i class="icon-shopping-bag"></i><span class="item_count">@ViewData["CartItemCount"]</span></a>