﻿@model IEnumerable<MenuCategoryModel>

<div class="main_menu menu_position">
    <nav>
        <ul>
            <li>
                <a asp-action="Index" asp-controller="Home">Trang Chủ<i class="fa fa-angle-down"></i></a>
            </li>
            <li class="mega_items">
                <a> Sảm phẩm<i class="fa fa-angle-down"></i></a>
                <div class="mega_menu">
                    <ul class="mega_menu_inner">
                        <li>
                            <ul>
                                @foreach (var item in Model)
                                {
                                    <li><a asp-action="ProductListByCategory" asp-controller="Product" asp-route-CategoryID="@item.CategoryID">@item.CategoryName</a></li>
                                }
                            </ul>
                        </li>
                    </ul>
                </div>
            </li>
            <li><a href="contact.html"> Liên hệ</a></li>
        </ul>
    </nav>
</div>

