﻿@model MaVangUtility.PaginatedList<MaVangModel.ProductListModel>
@{
}
<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <h3>Cửa hàng</h3>
                    <ul>
                        <li><a href="index.html">Trang chủ</a></li>
                        <li>shop fullwidth</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!--shop  area start-->
<div class="shop_area shop_fullwidth mt-100 mb-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!--shop wrapper start-->
                <!--shop toolbar start-->
                <div class="shop_toolbar_wrapper">
                    <div class="shop_toolbar_btn">

                        <button data-role="grid_3" type="button" class=" btn-grid-3" data-toggle="tooltip" title="3"></button>

                        <button data-role="grid_4" type="button" class="active btn-grid-4" data-toggle="tooltip" title="4"></button>

                        <button data-role="grid_list" type="button" class="btn-list" data-toggle="tooltip" title="List"></button>
                    </div>
                    @*<div class=" niceselect_option">
                <form class="select_option" action="#">
                    <select name="orderby" id="short">
                        <option selected value="1">Sort by average rating</option>
                        <option value="2">Sort by popularity</option>
                        <option value="3">Sort by newness</option>
                        <option value="4">Sort by price: low to high</option>
                        <option value="5">Sort by price: high to low</option>
                        <option value="6">Product Name: Z</option>
                    </select>
                </form>
            </div>*@
                    <div class="page_amount">
                        <p>Có @Model.Count sản phẩm </p>
                    </div>
                </div>
                <!--shop toolbar end-->
                <div class="row shop_wrapper grid_4">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-3 col-md-4 col-12 ">
                            <article class="single_product">
                                <figure>
                                    <div class="product_thumb">
                                        <a class="primary_img" asp-action="ProductDetail" asp-controller="Product" asp-route-ProductID="@item.ProductID" ><img src="~/img/product/@item.ImgThumbnail" alt=""></a>
                                        <div class="action_links">
                                            <ul>
                                                <li class="add_to_cart"><a href="cart.html" title="Add to cart"><i class="icon-shopping-bag"></i></a></li>
                                                <li class="quick_button"><a href="#" data-toggle="modal" data-target="#modal_box" title="quick view"> <i class="icon-eye"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="action_links list_action">
                                            <ul>
                                                <li class="quick_button"><a href="#" data-toggle="modal" data-target="#modal_box" title="quick view"> <i class="icon-eye"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product_content grid_content">
                                        <div class="product_price_rating">
                                            <h4 class="product_name"><a asp-action="ProductDetail" asp-controller="Product" asp-route-ProductID="@item.ProductID" >@item.ProductName</a></h4>
                                            <div class="price_box">
                                                <span class="current_price">@item.ProductPrice.ToString("n0")VND</span>
                                            </div>
                                        </div>
                                    </div>
                                </figure>
                            </article>
                        </div>
                    }
                </div>
                @if (Model.Count() > 12)
                {
                    <div class="shop_toolbar t_bottom">
                        <div class="pagination">
                            <ul>
                                @{
                                    for (var i = 1; i <= Model.TotalPages; i++)
                                    {
                                        <li class="current">1</li>
                                        <a asp-action="Index" asp-route-pageNumber="@i" class=" @(i == Model.PageIndex ? "current" : "")">@i</a>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                }
                <!--shop toolbar end-->
                <!--shop wrapper end-->
            </div>
        </div>
    </div>
</div>
<!--shop  area end-->