﻿@model MaVangModel.ProductCreateModel
@{
}
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Thêm mới loại sản phẩm</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <br>
            <form enctype="multipart/form-data" asp-action="Create" class="form-horizontal form-label-left">
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="ProductName"></label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input class="form-control col-md-7 col-xs-12" asp-for="ProductName" />
                        <span asp-validation-for="ProductName" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="Description"></label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input class="form-control col-md-7 col-xs-12" asp-for="Description" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="ProductPrice"></label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input class="form-control col-md-7 col-xs-12" asp-for="ProductPrice" />
                        <span asp-validation-for="ProductPrice" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="Thumbnail"></label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input class="form-control col-md-7 col-xs-12" asp-for="Thumbnail" type="file" id="thumbnail" accept="images/*" />
                        <label class="custom-file-label" for="thumbnail">Choose file</label>
                        <span asp-validation-for="Thumbnail" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="ProductImage"></label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input class="form-control col-md-7 col-xs-12" asp-for="ProductImage" type="file" id="ProductImage" accept="images/*" />
                        <label class="custom-file-label" for="ProductImage">Choose file</label>
                        <span asp-validation-for="ProductImage" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="ProductCategory"></label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <select class="select2_single form-control" tabindex="-1" asp-for="ProductCategory"
                                asp-items="@(new SelectList(Model.Categories,"ID","CategoryName"))">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <button type="submit" class="btn btn-success">Submit</button>
                        <a href="@Url.Action("ProductList","Product")" class="btn btn-primary"> Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>