﻿@model MaVangModel.ProductListHomePageModel
@{
}
<div class="product_area  mb-95">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="product_header">
                    <div class="section_title">
                        <h2>Sản phẩm của chúng tôi</h2>
                    </div>
                    <div class="product_tab_btn">
                        <ul class="nav" role="tablist">
                            <li>
                                <a class="active" data-toggle="tab" href="#plant1" role="tab" aria-controls="plant1" aria-selected="true">
                                    Nội Thất
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#plant2" role="tab" aria-controls="plant2" aria-selected="false">
                                    Phụ Kiện
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#plant3" role="tab" aria-controls="plant3" aria-selected="false">
                                    Sản phẩm khác
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="plant1" role="tabpanel">
                <div class="row">
                    <div class="product_carousel product_column4 owl-carousel">
                        @for (var i = 0; i < Model.noithatList.Count; i += 2)
                        {
                            <div class="col-lg-3">
                                <div class="product_items">
                                    @for (var y = 0; y <= 1; y++)
                                    {                                      
                                        <article class="single_product">
                                            <figure>
                                                <div class="product_thumb">
                                                    <a class="primary_img" asp-action="ProductDetail" asp-controller="Product" asp-route-ProductID="@Model.noithatList[y+i].ProductID"><img src="~/img/product/@Model.noithatList[y + i].ImgThumbnail" alt=""></a>

                                                    <div class="action_links">
                                                        <ul>
                                                            <li class="add_to_cart"><a asp-route="addcart" asp-route-productid="@Model.noithatList[y+i].ProductID"><i class="icon-shopping-bag"></i></a></li>
                                                            @*<li class="quick_button"><a href="#" data-toggle="modal" data-target="#modal_box" title="quick view"> <i class="icon-eye"></i></a></li>*@
                                                        </ul>
                                                    </div>
                                                </div>
                                                <figcaption class="product_content">
                                                    <h4 class="product_name"><a asp-action="ProductDetail" asp-controller="Product" asp-route-ProductID="@Model.noithatList[y+i].ProductID">@Model.noithatList[y + i].ProductName</a></h4>
                                                    <div class="price_box">
                                                        <span class="current_price">@Model.noithatList[y + i].ProductPrice</span>
                                                    </div>
                                                </figcaption>
                                            </figure>
                                        </article>

                                        if ((Model.noithatList.Count - i) == 1)
                                        {
                                            y = 2;
                                        }
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="plant2" role="tabpanel">
                <div class="row">
                    <div class="product_carousel product_column4 owl-carousel">
                        @for (var i = 0; i < Model.phukienList.Count; i += 2)
                        {
                            <div class="col-lg-3">
                                <div class="product_items">
                                    @for (var y = 0; y <= 1; y++)
                                    {
                                        <article class="single_product">
                                            <figure>
                                                <div class="product_thumb">
                                                    <a class="primary_img" asp-action="ProductDetail" asp-controller="Product" asp-route-ProductID="@Model.phukienList[y+i].ProductID"><img src="~/img/product/@Model.phukienList[y + i].ImgThumbnail" alt=""></a>

                                                    <div class="action_links">
                                                        <ul>
                                                            <li class="add_to_cart"><a href="cart.html" title="Add to cart"><i class="icon-shopping-bag"></i></a></li>
                                                            <li class="quick_button"><a href="#" data-toggle="modal" data-target="#modal_box" title="quick view"> <i class="icon-eye"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <figcaption class="product_content">
                                                    <h4 class="product_name"><a  asp-action="ProductDetail" asp-controller="Product" asp-route-ProductID="@Model.phukienList[y+i].ProductID">@Model.phukienList[y + i].ProductName</a></h4>
                                                    <div class="price_box">
                                                        <span class="current_price">@Model.phukienList[y + i].ProductPrice</span>
                                                    </div>
                                                </figcaption>
                                            </figure>
                                        </article>
                                        if ((Model.phukienList.Count - i) == 1)
                                        {
                                            y = 2;
                                        }
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="plant3" role="tabpanel">
                <div class="row">
                    <div class="product_carousel product_column4 owl-carousel">
                        @for (var i = 0; i < Model.ortherList.Count; i += 2)
                        {
                            <div class="col-lg-3">
                                <div class="product_items">
                                    @for (var y = 0; y <= 1; y++)
                                    {
                                        <article class="single_product">
                                            <figure>
                                                <div class="product_thumb">
                                                    <a class="primary_img" asp-action="ProductDetail" asp-controller="Product" asp-route-ProductID="@Model.ortherList[y+i].ProductID"><img src="~/img/product/@Model.ortherList[y + i].ImgThumbnail" alt=""></a>

                                                    <div class="action_links">
                                                        <ul>
                                                            <li class="add_to_cart"><a href="cart.html" title="Add to cart"><i class="icon-shopping-bag"></i></a></li>
                                                            <li class="quick_button"><a href="#" data-toggle="modal" data-target="#modal_box" title="quick view"> <i class="icon-eye"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <figcaption class="product_content">
                                                    <h4 class="product_name"><a asp-action="ProductDetail" asp-controller="Product" asp-route-ProductID="@Model.ortherList[y+i].ProductID">@Model.ortherList[y + i].ProductName</a></h4>
                                                    <div class="price_box">
                                                        <span class="current_price">@Model.ortherList[y + i].ProductPrice</span>
                                                    </div>
                                                </figcaption>
                                            </figure>
                                        </article>
                                        if ((Model.ortherList.Count - i) == 1)
                                        {
                                            y = 2;
                                        }
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>