﻿@model MaVangAdmin.Controllers.Login.InputModel
@{
    Layout = "~/Views/Shared/_LoginPage.cshtml";
}
<div>
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>

    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                @using (Html.BeginForm("LoginAccount", "Login", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <h1>Login Form</h1>
                    <div>
                        @Html.TextBoxFor(m=> m.Email, "", new {@class="form-control", @placeholder= "Username"})
                    </div>
                    <div>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "PassWord" })
                    </div>
                    <div>
                        <input type="submit" name="submit" class="btn btn-primary" value="Login" />
                    </div>

                    <div class="clearfix"></div>

                    <div class="separator">

                        <div class="clearfix"></div>
                        <br />

                        <div>
                            <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                            <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                        </div>
                    </div>
                }
            </section>
        </div>

    </div>
</div>