﻿@model List<CartModel>
@{
}
<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <h3>Đặt Hàng</h3>
                    <ul>
                        <li><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                        <li>Đặt Hàng</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!--Checkout page section-->
<div class="Checkout_section  mt-100" id="accordion">
    <div class="container">
        <div class="checkout_form">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <form action="#">
                        <h3>Thông tin đơn hàng</h3>
                        <div class="row">

                            <div class="col-lg-6 mb-20">
                                <label>Tên khách hàng <span>*</span></label>
                                <input type="text">
                            </div>

                            <div class="col-12 mb-20">
                                <label>Địa chỉ giao hàng  <span>*</span></label>
                                <input type="text">
                            </div>
                            <div class="col-lg-6 mb-20">
                                <label>Số điện thoại liên lạc<span>*</span></label>
                                <input type="text">

                            </div>
                            <div class="col-12">
                                <div class="order-notes">
                                    <label for="order_note">Ghi chú</label>
                                    <textarea id="order_note" placeholder="Quý khách cần ghi chú thông tin gì khác không ạ?"></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6 col-md-6">
                    <form action="#">
                        <h3>Đơn hàng</h3>
                        <div class="order_table table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Sản phẩm</th>
                                        <th>Thành tiền</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{decimal totalOrder = 0;}
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td> @item.Product.ProductName<strong> × @item.Quantity</strong></td>
                                            <td> @{ var total = item.Product.Price * item.Quantity;} @total.ToString("n0") VND</td>
                                        </tr>
                                        totalOrder += total;
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Tổng hóa đơn</th>
                                        <td>@totalOrder.ToString("n0") VND</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="payment_method">
                            <div class="order_button">
                                <a asp-action="CreateOrder" asp-controller="Order" class="button">Đặt hàng </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Checkout page section end-->