﻿@model IEnumerable<MenuCategoryModel>
@{
}
<div class="main_menu menu_position">
    <nav>
        <ul>
            <li>
                <a class="active" href="index.html">Trang Chủ<i class="fa fa-angle-down"></i></a>
            </li>
            <li class="mega_items">
                <a href="shop.html">shop<i class="fa fa-angle-down"></i></a>
                <div class="mega_menu">
                    <ul class="mega_menu_inner">
                        <li>
                            <a href="#">Sản phẩm</a>
                            <ul>
                                @*@foreach(var item in Model)
                                {
                                    <li><a href="shop-fullwidth.html">@item.CategoryName</a></li>
                                }*@
                            </ul>
                        </li>
                    </ul>
                </div>
            </li>
            <li><a href="contact.html"> Contact Us</a></li>
        </ul>
    </nav>
</div>