﻿@model IEnumerable<MaVangDatabase.Data.m_category>
@{
}
<div class="page-title">
    <div class="title_left">
        <h3>Quản lý loại sản phẩm</h3>
    </div>

    <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group" style="padding-top:10px;float:right">
                <a href="@Url.Action("Create","Category")" class="btn btn-round btn-success" style="padding-left:20px;padding-right:20px"><i class="fa fa-plus" aria-hidden="true"></i> Tạo mới</a>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_content">

            <div class="table-responsive">
                <table class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr class="headings">
                            <th class="column-title">Id </th>
                            <th class="column-title">Tên loại sản phẩm </th>
                            <th class="column-title">Trạng thái </th>
                            <th class="column-title"> </th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr class="even pointer">
                            <td>@Html.DisplayFor(modelItem => item.ID)</td>
                            <td>@Html.DisplayFor(modelItem => item.CategoryName)</td>
                            <td>
                                @{
                                    if (item.DelFlg != true)
                                    {
                                        <span>Active</span>
                                    }
                                    else
                                    {
                                        <span>Deleted</span>
                                    }
                                }
                            </td>
                            <td>@Html.ActionLink("Xóa","Delete", new { id = item.ID}, new { onclick="return confirm('Bạn có chắc chắn muốn xóa danh mục sản phẩm" + item.CategoryName + "?')" })</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

@section scripts{ 
    <script type="text/javascript">
        $(function () {
            $("a.delete-link").click(function () {

            })
        })
    </script>
}