﻿@model MaVangDatabase.Data.m_category;
@{
}
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Thêm mới loại sản phẩm</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <br>
            @using (Html.BeginForm("Create", "Category", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
            {

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                        Tên danh mục sản phẩm <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.TextBoxFor(m => m.CategoryName, "", new { @class = "form-control col-md-7 col-xs-12", @required = "required" })
                    </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <button type="submit" class="btn btn-success">Submit</button>
                        <a href="@Url.Action("CategoryList","Category")" class="btn btn-primary"> Cancel</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>