﻿@model List<CartModel>


<div class="mini_cart">
    <div class="cart_gallery">
        <div class="cart_close">
            <div class="cart_text">
                <h3>Giỏ hàng</h3>
            </div>
            <div class="mini_cart_close">
                <a href="javascript:void(0)"><i class="icon-x"></i></a>
            </div>
        </div>
    </div>
    @foreach (var item in Model)
    {
        <div class="cart_item">
            <div class="cart_img">
                <a href="#"><img src="~/img/product/@item.Product.ImgThumbnail" alt=""></a>
            </div>
            <div class="cart_info">
                <a href="#">@item.Product.ProductName</a>
                <p>@item.Quantity x <span> @item.Product.Price.ToString("n0") VND </span></p>
            </div>
            <div class="cart_remove">
                <a href="#"><i class="icon-x"></i></a>
            </div>
        </div>
    }
    <div class="mini_cart_table">
        <div class="cart_table_border">
            <div class="cart_total">
                <span>Tổng tiền:</span>
                <span class="price">@ViewData["TotalPrice"] VND </span>
            </div>
        </div>
    </div>
    <div class="mini_cart_footer">
        <div class="cart_button">
            <a asp-route="cart"><i class="fa fa-shopping-cart"></i> Đặt Hàng</a>
        </div>
    </div>

</div>